{% extends "base.html" %}
{% block content %}
<div class="flex w-full flex-col items-center justify-center">
  <form method="POST" action="{% url 'create_post' %}" class="rounded-2xl bg-stone-200 p-10">
    {% csrf_token %}
    <p class="text-xl font-semibold">{{ blog_title }}</p>
    {% for field in form %}
    <div class="flex flex-col py-5">
      <label>{{ field.label }}</label>
      {{ field }}
    </div>
    {% endfor %}
    <div class="flex items-center justify-between">
      <button type="submit" class="rounded-full px-4 py-2 hover:bg-stone-300">{{ blog_button }}</button>
      <a class="rounded-full px-4 py-2 hover:bg-stone-300" href="{% url 'my_articles' %}">Cancel</a>
    </div>
  </form>
</div>
{% endblock content %}
